.App {
  text-align: center;
}

.App-logo {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: App-logo-spin;
  animation-timing-function: linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 10px;
  color: white;
}

.App-title {
  margin: 0px;
}

.App-intro {
  font-size: large;
}

.axisLabel {
  fill: #E0E0E0 !important;
}

.device-list-dropdown {
  padding-left: 10px;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 1290px) {
  .main-container {
    flex-wrap: wrap-reverse;
  }
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-width: 1030px;
}

.device-info {
  min-width: 250px;
}

.select-field {
  margin: 10px;
}

.brush-zone {
  fill: red;
  stroke: brown;
}

.new-point {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: pulse;
}

@keyframes pulse {
  from {
    r: 2;
    fill: red;
  }

  3% {
    r: 7;
    fill: #FFA0A0;
  }

  30% {
    r: 2.5;
    fill: red;
  }

  to {
    r: 2;
    fill: brown;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
